html,
body {
    background: url("/Fairies/Images/fairyBacc.png") no-repeat center center;
    background-size: cover;
    color: white;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
    /* font-style: italic; */
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    
}

p{
    margin-left: 30px;
    margin-top:0px;
}

.title{
    height: 17%;
    width:70%;
}

.left-side {
    display: flex;
    flex-direction: column;

    width:70%;
    padding: 1rem;
}

.form label{
    margin:5px;

}
.form{
    padding-left:5rem;
    display: flex;
    flex-direction: column;
}

.form input{
    width: 80%;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    min-height:30px;
    padding-left: 5px;
    margin-bottom:5px;
}

.card-information{
    display: flex;
    justify-content: space-between;
    width:87%;
}

.card-information input{
    margin-top: 5px;
}
.card-information--left{
    width:50%;
}

.form .customP{
    margin-top: 1rem;
    margin-left: 1rem;
   width:70%;
}


.card-information--right{
  width:40%;
}
button {
    align-self: center;
    margin-top: 5%;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border-color: #f8faed;
    border-width: 3px;
    background-color: black;
}

button:hover {
    box-shadow: 0 0 50px 15px #f8faed;
}
.buttonImage {
    max-width: 200px;
    max-height: 35px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

}

.right-side{
    display: flex;
    align-items: flex-end;
    width:40%;
}

.right-side img{
        min-width: 100%;
        max-height: 100%;
}