/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

* {
    box-sizing: border-box;
}

body {
    background: url("../Images/background.png") no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: Verdana;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    color:white;
    font-family: 'MedievalSharp';
    line-height: 20px;
    text-align: center;
    font-size: 16px;
}

.container__main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0px 80px 0px 80px;
}

.container__main button{
    margin-top: 5%;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        border-color: #f8faed;
        border-width: 3px;
        background-color: black;
        color:white;
        font-size: 26px;
        font-family: 'JejuGothic';
}

.title--image{
    margin:30px 0px 30px 0px;
}
.container__main button:hover{
box-shadow: 0 0 50px 15px #f8faed;
}
.container__newbook{
    display: flex;
    width:70%;
    margin-bottom:50px;
}

.container__newbook img{
   max-width: 225px;
   margin-right: 15px;
}

.container__newbook--book{
box-shadow: 10px 5px 5px #1f1d1d;
}
.container__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0px 30px 0px 30px;

}

.container__right img{
    max-width:290px;
}

.text--yellow{
    color:#FFC72E;
}

.container__right--text{
    padding: 0px 30px 0px 30px;
}

.container__books{
    margin-top:50px;
    margin-bottom:50px;
    width:70%;
    display: flex;
    justify-content: space-between;
}

.container__books--book{
    max-width: 330px;
}
.container__books--book img{
max-width: 185px;
box-shadow: 10px 5px 5px #1f1d1d;
}

.container__blog{
    margin-bottom:50px;
}
.container__blog img{
    text-align: start;
}

.container__blog button{
    text-decoration: underline;
    padding-left: 15px;
    padding-right: 15px;
    width: 225px;
}