body{
    background: url("./bg2.jpeg") no-repeat center center;
        background-size: cover;
}
.game{
    margin:0 auto;
    width: min-content;
    display: flex;

}

.hide{
    opacity: 50%;
    color: grey;
}

.doll {
    background: url("./Assets2/Base.png") no-repeat center;
    background-size: contain;
    font-size: 0px;
    width: 400px;
    height: 445px;
    position: relative;
}

#doll__dress{
    max-width: 400px;
    position: absolute;
    z-index: 20;
}

#doll__bottoms{
    max-width: 400px;
    position: absolute;
    z-index: 10;
}
     
#doll__shoes{
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
}

.buttons{
    width: min-content;
}